﻿@{
    ViewBag.Title = "About Us";
}

<!DOCTYPE html>
<style>
    p {
        text-align: justify;
    }
</style>

<body>

    @Html.Partial("_NavigationPartial")

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <article>
        <p>
            ToDo.com is a helpful web application to help make chores fun and rewarding. When we first came up with this idea,
            we were using every method known, bulliten boards, notes on the fridge, mandatory family chore time, but we still
            had confusion and disconnections between my wife and I. This inspired us to make ToDo.com, a web based application
            to help manage the chores that everyone in the family has access to!
        </p><br />
        <h2>Our Story.</h2>
        <p></p><p>
            The true inspiration for this application was my Graduate Practicum project. I was at a loss for an idea when the
            course started, but one night it hit me. I was sitting in the kitchen when the wife and kiddos (5 and 7 year old boys)
            came in and I immediately started barking orders: Get your clothes for tomorrow! Get your lunch ready! Don't feed
            the dog that! Get that out of your mouth! While this application isn't meant to solve these small daily routines,
            it is meant to solve something larger. We had tried to get our boys to start doing chores and we had some good luck
            in the early stages. It quickly went south from there. We resorted to rewards which brought us back on track for a
            little while. However, we ended back up in square one. As I was barking out orders in my old Marine Corps fashion,
            it dawned on me that the reason we had failed before was that we lacked a structured way to keep track of what needed
            to be done and what the boys would get for doing it. We also lost track of what they had done so the boys never really
            saw their rewards. The solution? Well, you already know there answer to that question, you're here aren't you?
        </p>
    </article>
</body>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
}