﻿@{
    ViewBag.Title = "Contact us";
}

<!DOCTYPE html>

@Html.Partial("_NavigationPartial")

<section class="contact">
    <header>
        <h1>@ViewBag.Title.</h1>
    </header>
    <p>
        We here at ToDo.com value your opinions, concerns, and suggestions. Please feel free
        to contact us during normal hours (hey, we have kids that are working on chores too!)
        to let us know what you think or what you would like to see!

    </p>
</section>

<section class="contact">
    <header>
        <h3>Email Us</h3>
    </header>
    <p>
        <strong>The Brawns:</strong>
        <a href="mailto:kmarino@regis.edu">Kevin Marino</a>
    </p>
    <p>
        <strong>The Brains:</strong>
        <a href="mailto:kmarino@yregis.edu">Amanda Marino</a>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Call Us</h3>
    </header>
    <p>
        <strong>The Brawns Main:</strong>
        <a>(334)807-5231</a>
    </p>
    <p>
        <strong>The Brawns After Hours:</strong>
        <a>(330)447-9426</a>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Send Snail Mail to</h3>
    </header>
    <p>
        The Creators<br />
        Troy, Al 36081
    </p>
</section>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
}