﻿@model ToDoWebApp.Models.LoginViewModel

@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</div>

<div class="row">
    <p>
        Thanks for choosing ToDo.com to help manage you and your children's chores!
        <a href="/Account/Register">Create an account</a> today to get started or
        <a href="/Account/Login">Log in</a> if you already have an account!
    </p>

    @Html.Partial("_LoginFormPartial")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
}