﻿@model ToDoWebApp.Models.AddParentViewModel

@using (Ajax.BeginForm("AddParent", "Manage", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "table-content", OnSuccess = "$('.close').click()" }, new { id = "modalForm" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.UserName):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.TextBoxFor(m => m.UserName, new
                       {
                           @class = "form-control",
                           @placeholder = "User Name",
                           title = ModelMetadata.FromLambdaExpression(m => m.UserName, ViewData).Description
                       })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.Email):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.TextBoxFor(m => m.Email, new
                       {
                           @class = "form-control",
                           @placeholder = "Email Address",
                           title = ModelMetadata.FromLambdaExpression(m => m.Email, ViewData).Description
                       })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.ConfirmEmail):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.TextBoxFor(m => m.ConfirmEmail, new
                   {
                       @class = "form-control",
                       @placeholder = "Confirm Email Address",
                       title = ModelMetadata.FromLambdaExpression(m => m.ConfirmEmail, ViewData).Description
                   })
                    @Html.ValidationMessageFor(m => m.ConfirmEmail, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.Password):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.PasswordFor(m => m.Password, new
               {
                   @class = "form-control",
                   @placeholder = "Password",
                   title = ModelMetadata.FromLambdaExpression(m => m.Password, ViewData).Description
               })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.ConfirmPassword):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new
               {
                   @class = "form-control",
                   @placeholder = "Confirm Password",
                   title = ModelMetadata.FromLambdaExpression(m => m.ConfirmPassword, ViewData).Description
               })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelBtn"><i class="fa fa-times"></i>&nbsp;Close</button>
            <button type="submit" class="btn btn-primary" name="cmd" id="saveBtn"><i class="fa fa-check"></i>&nbsp;Add Parent</button>
        </div>
    </div>
}

<script>
//call after page loaded
    window.onload = reloadValidation();
</script>