﻿@model ToDoWebApp.Models.AddChildViewModel

@using (Ajax.BeginForm("AddChild", "Manage", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "table-content", OnSuccess = "$('.close').click()" }, new { id = "modalForm" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.UserName):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Child's User Name" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.Email):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address (optional)" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.Password):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.ConfirmPassword):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelBtn"><i class="fa fa-times"></i>&nbsp;Close</button>
            <button type="submit" class="btn btn-primary" name="cmd" id="saveBtn"><i class="fa fa-check"></i>&nbsp;Add Child</button>
        </div>
    </div>
}

<script>
//call after page loaded
    window.onload = reloadValidation();
</script>