﻿@model ToDoWebApp.Models.ChangeChildPasswordViewModel

@using (Ajax.BeginForm("ChangeChildPassword", "Manage", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "table-content", OnSuccess = "$('.close').click()" }, new { id = "modalForm" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-12 control-label">
                <h2>Change Password for @(Model.Name)</h2>
                <!--  For some reason the form was not posting the name value. 
                      The below hidden attribute re-assiciated the Name attribute with the model so it posted properly  -->
                @Html.HiddenFor(m => m.Name)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.Password):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.ConfirmPassword):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelBtn"><i class="fa fa-times"></i>&nbsp;Cancel</button>
            <button type="submit" class="btn btn-primary" name="cmd" id="saveBtn"><i class="fa fa-check"></i>&nbsp;Save Changes</button>
        </div>
    </div>
}

<script>
//call after page loaded
    window.onload = reloadValidation();
</script>