﻿@model ToDoWebApp.Models.ChildChangePasswordViewModel

@using (Ajax.BeginForm("ChildChangePassword", "Manage", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "table-content", OnSuccess = "$('.close').click()" }, new { id = "modalForm" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-12 control-label">
                <h2>Change Your Password</h2>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.OldPassword):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.NewPassword):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 control-label">
                @Html.LabelFor(m => m.ConfirmPassword):
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelBtn"><i class="fa fa-times"></i>&nbsp;Cancel</button>
            <button type="submit" class="btn btn-primary" name="cmd" id="saveBtn"><i class="fa fa-check"></i>&nbsp;Save Changes</button>
        </div>
    </div>
}

<script>
//call after page loaded
    window.onload = reloadValidation();
</script>
