﻿@model ToDoWebApp.Models.ChildManageViewModel

<h2 class="text-success">@ViewBag.StatusMessageSuccsess</h2>
<h2 class="text-danger">@ViewBag.StatusMessageFailure</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="container">
    <h3><strong>Your Information</strong></h3>
    <div class="row">
        <strong class="col-md-2">Clan Name:</strong>
        <span class="col-md-1">@Html.DisplayFor(m => m.ClanName)</span>
    </div>
    <div class="row">
        <strong class="col-md-2">User Name:</strong>
        <span class="col-md-1">@Html.DisplayFor(m => m.UserName)</span>
        <a href="@Url.Action("ChildChangePassword", "Manage")" class="loadModal col-md-2" data-id="userPass">Change Password</a>
    </div>
    <div class="row">
        <strong class="col-md-2">Email:</strong>
        <span class="col-md-1">@Html.DisplayFor(m => m.Email)</span>
        <a href="@Url.Action("ChildUpdateEmail", "Manage", new { name = Model.UserName })" class="loadModal col-md-3" data-id="email">Update Email Address</a>
    </div>
</div>
