﻿@model ToDoWebApp.Models.ManageViewModel

<h2 class="text-success">@ViewBag.StatusMessageSuccsess</h2>
<h2 class="text-danger">@ViewBag.StatusMessageFailure</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<h3><strong>Your Information</strong></h3>
<div class="row">
    <strong class="col-md-2">Clan Name:</strong>
    <span class="col-md-3">@Html.DisplayFor(m => m.ClanName)</span>
</div>
<div class="row">
    <strong class="col-md-2">User Name:</strong> 
    <span class="col-md-3">@Html.DisplayFor(m => m.UserName)</span>
    <span class="col-md-3"><a href="@Url.Action("ChangePassword", "Manage")" class="loadModal" data-id="userPass">Change Password</a></span>
</div>
<div class="row">
    <strong class="col-md-2">Email:</strong>
    <span class="col-md-3">@Html.DisplayFor(m => m.Email)</span>
    <span class="col-md-3"><a href="@Url.Action("UpdateEmail", "Manage", new { name = Model.UserName })" class="loadModal" data-id="email">Update Email Address</a></span>
</div>
<br />
<hr />
<br />

<h3><strong>Your Family's Information</strong></h3>
<div class="row">
    <div class="col-md-5">
        <h4><u><strong>Parents</strong></u></h4>
        <hr />
        <div>
            @foreach (var item in Model.Parents)
            {
                <div class="row">
                    <strong class="col-md-3">User Name:</strong>
                    <span class="col-md-1">@Html.DisplayFor(m => item.UserName)</span>
                </div>
                <div class="row">
                    <strong class="col-md-3">Email:</strong>
                    <span class="col-md-1">@Html.DisplayFor(m => item.Email)</span>
                </div>
                <br />
            }
        </div>
        <div>
            <a href="@Url.Action("AddParent", "Manage")" id="AddParent" class="btn btn-primary loadModal" data-id="parent"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add A New Parent</a>
        </div>
        <br />
    </div>
    <div class="col-md-7">
        <h4><u><strong>Children</strong></u></h4>
        <hr />
        <div>
            @foreach (var item in Model.Children)
            {
                <div class="row">
                    <strong class="col-md-3">User Name:</strong>
                    <span class="col-md-2">@Html.DisplayFor(m => item.UserName)</span>
                    <a href="@Url.Action("ChangeChildPassword", "Manage", new { name = item.UserName })" class="loadModal col-md-3"  data-id="childPass">Change Password</a>
                </div>
                <div class="row">
                    <strong class="col-md-3">Email:</strong>
                    <span class="col-md-2">@Html.DisplayFor(m => item.Email)</span>
                    <a href="@Url.Action("UpdateEmail", "Manage", new { name = item.UserName })" class="loadModal col-md-3"  data-id="email">Update Email Address</a>
                </div>
                <br />
            }
        </div>
        <div>
            <a href="@Url.Action("AddChild", "Manage")" class="btn btn-primary loadModal" data-id="child"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add A New Child</a>
        </div>
    </div>
</div>
