﻿@model ToDoWebApp.Models.ChildManageViewModel

@{
    ViewBag.Title = "Manage Your Account";
}

<h2><b>@ViewBag.Title</b></h2>

<div class="container">
    <div id="table-content">
        @Html.Partial("_ChildTableDataPartial")
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-id="userPass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="divForDisplay" data-id="userPass">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-id="email">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Email Address</h4>
            </div>
            <div class="divForDisplay" data-id="email">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryVal")
    @Styles.Render("~/fontAwesome/css")
    <script src="~/Scripts/ModalControl.js"></script>
    @Styles.Render("~/Content/css")
}