﻿@model ToDoWebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your Username or Password?";
}

@Html.Partial("_NavigationPartial")

<h2>@ViewBag.Title</h2>

<div>
    <p>
        If you do not have an email on your account, ask a Parent on your account to update your password through their Account Management Page!
        <br />
    </p>
</div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.AntiForgeryToken()

    <h3>Enter your Email Address</h3>
    <hr />
    <div>
        <p>
            We will send an email to the following address with your Username and a link to reset your password. The link will expire after 2 hours.
            If you do not receive an email after 15 minutes, check your spam folder and then try again.
        </p>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Send Email" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryVal")
    @Styles.Render("~/Content/css")
}
