﻿@{
    ViewBag.Title = "Forgot Password Email Sent";
}

@Html.Partial("_NavigationPartial")

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        An email containing directions on obtaining your Username and resetting your Password has been sent to the email address provided.
        Follow the instructions and links in the email to retrieve your account information. 
        If you do not receive the email after 15 minutes, check your spam folder and try again.
    </p>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
}