﻿@{
    ViewBag.Title = "Log in";
}

@Html.Partial("_NavigationPartial")

<h2>@ViewBag.Title.</h2>

<section id="loginForm">
    @Html.Partial("_LoginFormPartial")
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryVal")
    @Styles.Render("~/Content/css")
}