﻿
@{
    ViewBag.Title = "A Problem Occurred During Registration";
}

<div class="jumbotron">
    <h1 class="danger">@ViewBag.Title.</h1>
    <h2>
        We are sorry to inform you that an error has occurred during your registration.
        We were able to register your account, but failed to register some members of your family's accounts.
        You can check what accounts were properly created and add the remaining accounts by going to Manage Account.
        Or, you may go ahead and start adding chores now by going to your Home Page and adding the missing accounts
        later through the Manage Account page. We apologize about this inconvenience.
    </h2>
</div>

<div class="row">
    <h3>
        <a href="/Manage/Index">Manage Your Account</a> or go to your
        <a href="/Home/Index">Home Page</a>
    </h3>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
}