﻿@model ToDoWebApp.Models.RegisterViewModel


@{
    ViewBag.Title = "Create a new Account Wizard";
}

<!-- Default to Wizard not being shown -->
<style type="text/css">
    .wizard {
        display: none;
    }
</style>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()


    <!-- Enter first parent information -->
    <div class="wizard">
        <h4>Enter Your Information</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.ClanName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ClanName, new
           {
               @class = "form-control",
               title = ModelMetadata.FromLambdaExpression(m => m.ClanName, ViewData).Description
           })
                @Html.ValidationMessageFor(m => m.ClanName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new
           {
               @class = "form-control",
               title = ModelMetadata.FromLambdaExpression(m => m.UserName, ViewData).Description
           })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new
           {
               @class = "form-control",
               title = ModelMetadata.FromLambdaExpression(m => m.Email, ViewData).Description
           })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ConfirmEmail, new
           {
               @class = "form-control",
               title = ModelMetadata.FromLambdaExpression(m => m.ConfirmEmail, ViewData).Description
           })
                @Html.ValidationMessageFor(m => m.ConfirmEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new
           {
               @class = "form-control",
               title = ModelMetadata.FromLambdaExpression(m => m.Password, ViewData).Description
           })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new
           {
               @class = "form-control",
               title = ModelMetadata.FromLambdaExpression(m => m.ConfirmPassword, ViewData).Description
           })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NumChildren, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.NumChildren, (SelectList)ViewBag.NumChildrenList, "--Select Number of Kids--")
                <span class="tooltip-icon"><i class="fa fa-info-circle" title="@ModelMetadata.FromLambdaExpression(m => m.NumChildren, ViewData).Description"></i></span>
                @Html.ValidationMessageFor(m => m.NumChildren, "Please select number of children to add", new { @class = "text-danger", id = "NumChildrenError", style = "display:none" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SecondParent, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.SecondParent, new { @checked = "checked" })
                <span class="tooltip-icon"><i class="fa fa-info-circle" title="@ModelMetadata.FromLambdaExpression(m => m.SecondParent, ViewData).Description"></i></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RememberMe, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                <span class="tooltip-icon"><i class="fa fa-info-circle" title="@ModelMetadata.FromLambdaExpression(m => m.RememberMe, ViewData).Description"></i></span>
            </div>
        </div>
    </div>

    <!-- Enter children information -->
    <div class="wizard">
        <h4>Enter Children Login Information.</h4>
        <hr />
        <div id="children">

        </div>
    </div>

    <!-- Enter second parent information -->
    <div class="wizard">
        <div id="secondParentDiv">
            <h4>Enter Second Parent Information.</h4>
            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.SecondUserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SecondUserName, new
               {
                   @class = "form-control",
                   title = ModelMetadata.FromLambdaExpression(m => m.SecondUserName, ViewData).Description
               })
                    @Html.ValidationMessageFor(m => m.SecondUserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SecondEmail, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SecondEmail, new
               {
                   @class = "form-control",
                   title = ModelMetadata.FromLambdaExpression(m => m.SecondEmail, ViewData).Description
               })
                    @Html.ValidationMessageFor(m => m.SecondEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SecondConfirmEmail, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SecondConfirmEmail, new
               {
                   @class = "form-control",
                   title = ModelMetadata.FromLambdaExpression(m => m.SecondConfirmEmail, ViewData).Description
               })
                    @Html.ValidationMessageFor(m => m.SecondConfirmEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SecondPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.SecondPassword, new
               {
                   @class = "form-control",
                   title = ModelMetadata.FromLambdaExpression(m => m.SecondPassword, ViewData).Description
               })
                    @Html.ValidationMessageFor(m => m.SecondPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SecondConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.SecondConfirmPassword, new
               {
                   @class = "form-control",
                   title = ModelMetadata.FromLambdaExpression(m => m.SecondConfirmPassword, ViewData).Description
               })
                    @Html.ValidationMessageFor(m => m.SecondConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation Buttons -->
    <p>
        <input type="button" class="btn btn-default" id="back" name="back" value="< Back" />
        <input type="button" class="btn btn-default" id="next" name="next" value="Next >" />
    </p>

}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foolproofVal")
    @Styles.Render("~/fontAwesome/css")
    <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script>
    <script src="~/Scripts/RegisterWizard.js"></script>
    <link rel="stylesheet" type="text/css" href="http://static.flowplayer.org/tools/css/tooltip-generic.css" />
        @Styles.Render("~/Content/css")

}