﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Your password has been reset! Please @Html.ActionLink("click here to return Home!", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
}