﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ToDo.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Home/Index will redirect if user is authenticated -->
                    <a href="@Url.Action("Index", "Home")" class="links">
                        <img alt="Logo" src="@Url.Content("~/ToDo LoGo.JPG")">
                    </a>
                </div>
                <!-- Add custom headers to the diferent user roles -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("FAQ", "Help", "Home")</li>

                        @if (this.User.IsInRole("Parent"))
                        {
                            <li>@Html.ActionLink("History", "History", "Parent")</li>
                            <li>@Html.ActionLink("Manage Account", "Index", "Manage")</li>
                        }
                        else if (this.User.IsInRole("Child"))
                        {
                            <li>@Html.ActionLink("History", "History", "Child")</li>
                            <li>@Html.ActionLink("Manage Account", "Index", "Manage")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - ToDo.com</p>
            </footer>
        </div>

        @RenderSection("scripts", required: false)

    </body>
</html>

