﻿<!DOCTYPE html>
<style>
    #sidebar {
        margin-left: 80px;
        margin-bottom: 20px;
        float: right;
    }
</style>

<aside id="sidebar">
    <h3>Navigation</h3>

    <div id="home_link">@Html.ActionLink("Home", "Index", "Home")</div>
    <div id="about_link">@Html.ActionLink("About", "About", "Home")</div>
    <div id="contact_link">@Html.ActionLink("Contact", "Contact", "Home")</div>
    <div id="home_link">@Html.ActionLink("FAQ", "Help", "Home")</div>

    @if (this.User.IsInRole("Parent"))
    {
        <div id="about_link">@Html.ActionLink("History", "History", "Parent")</div>
        <div id="contact_link">@Html.ActionLink("Manage Account", "Index", "Manage")</div>
    }
    else if (this.User.IsInRole("Child"))
    {
        <div id="about_link">@Html.ActionLink("History", "History", "Child")</div>
        <div id="contact_link">@Html.ActionLink("Manage Account", "Index", "Manage")</div>
    }
</aside>