﻿@model ToDoWebApp.Models.ParentChoreTableViewModel

<table class="table table-hover table-condensed table-bordered table-striped">

    <!-- Chores Awaiting Completion Section -->
    <tr class="success">
        <th colspan="4">
            <h2>
                @Html.DisplayNameFor(m => m.ChoresAwaitingCompletion) -
                <em style="color:red;">
                    @Model.ChoresAwaitingCompletion.Count()
                </em>
                <button type="button" class="btn btn-default expand" name="cmd" data-id="cac"><i class="fa fa-caret-down" data-id="cac"></i></button>
            </h2>
        </th>
    </tr>
    <tbody class="content" data-id="cac">
        <tr class="warning">
            <th colspan="2">
                @Html.DisplayNameFor(m => m.ChoresAwaitingCompletion[0].Chore)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ChoresAwaitingCompletion[0].Reward)
            </th>
            <th>
                Take Action
            </th>
        </tr>

        @foreach (var item in Model.ChoresAwaitingCompletion)
        {
            <tr>
                <td colspan="2">
                    @Html.DisplayFor(m => item.Chore)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Reward)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Parent", new { id = item.Id })" class="loadModal" data-id="edit">Edit</a>
                    |
                    @Ajax.ActionLink("Remove", "Delete", "Parent", new { @id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "table-content", OnSuccess = "successFunction" })
                </td>
            </tr>
        }
    </tbody>


    <!-- Rewards Awaiting Approval Section -->
    <tr class="info">
        <th colspan="4">
            <h2>
                @Html.DisplayNameFor(m => m.RewardsAwaitingAction) -
                <em style="color:red;">
                    @Model.RewardsAwaitingAction.Count()
                </em>
                <button type="button" class="btn btn-default expand" name="cmd" data-id="raa"><i class="fa fa-caret-down"></i></button>
            </h2>
        </th>
    </tr>
    <tbody class="content" data-id="raa">
        <tr class="warning">
            <th>
                @Html.DisplayNameFor(m => m.RewardsAwaitingAction[0].ChildName)
            </th>
            <th colspan="2">
                @Html.DisplayNameFor(m => m.RewardsAwaitingAction[0].Reward)
            </th>
            <th>
                Take Action
            </th>
        </tr>

        @foreach (var item in Model.RewardsAwaitingAction)
        {
            <tr>
                <td>
                    @Html.DisplayFor(mItem => item.ChildName)
                </td>
                <td colspan="2">
                    @Html.DisplayFor(mItem => item.Reward)
                </td>
                <td>
                    @Ajax.ActionLink("Approve", "ApproveReward", "Parent", new { @id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "table-content", OnSuccess = "successFunction" })
                    |
                    @Ajax.ActionLink("Deny", "DenyReward", "Parent", new { @id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "table-content", OnSuccess = "successFunction" })
                </td>
            </tr>
        }
    </tbody>


    <!-- Chores Awaiting Approval Section -->
    <tr class="success">
        <th colspan="4">
            <h2>
                @Html.DisplayNameFor(m => m.ChoresAwaitingApproval) -
                <em style="color:red;">
                    @Model.ChoresAwaitingApproval.Count()
                </em>
                <button type="button" class="btn btn-default expand" name="cmd" data-id="caa"><i class="fa fa-caret-down" data-id="caa"></i></button>
            </h2>
        </th>
    </tr>
    <tbody class="content" data-id="caa">
        <tr class="warning">
            <th>
                @Html.DisplayNameFor(m => m.ChoresAwaitingApproval[0].ChildName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ChoresAwaitingApproval[0].Chore)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ChoresAwaitingApproval[0].Reward)
            </th>
            <th>
                Take Action
            </th>
        </tr>

        @foreach (var item in Model.ChoresAwaitingApproval)
        {
            <tr>
                <td>
                    @Html.DisplayFor(mItem => item.ChildName)
                </td>
                <td>
                    @Html.DisplayFor(mItem => item.Chore)
                </td>
                <td>
                    @Html.DisplayFor(mItem => item.Reward)
                </td>
                <td>
                    @Ajax.ActionLink("Approve", "ApproveChore", "Parent", new { @id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "table-content", OnSuccess = "successFunction" })
                    |
                    @Ajax.ActionLink("Deny", "DenyChore", "Parent", new { @id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "table-content", OnSuccess = "successFunction" })
                </td>
            </tr>
        }
    </tbody>

</table>