﻿@model ToDoWebApp.Models.EditChoreViewModel

@using (Ajax.BeginForm("Edit", "Parent", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "table-content", OnSuccess = "$('.close').click()" }, new { id = "modalForm" }))
{
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                    @Html.TextBoxFor(m => m.Chore, new { @class = "form-control", @placeholder = "Chore to be completed" })
                    @Html.ValidationMessageFor(m => m.Chore, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                    @Html.TextBoxFor(m => m.Reward, new { @class = "form-control", @placeholder = "Reward for chore completeion (optional)" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelBtn"><i class="fa fa-times"></i>&nbsp;Cancel</button>
        <button type="submit" class="btn btn-primary" name="cmd" id="saveBtn"><i class="fa fa-check"></i>&nbsp;Save Changes</button>
    </div>
}

<script>
//call after page loaded
    window.onload = reloadValidation();
</script>