﻿@model PagedList.IPagedList<ToDoWebApp.Models.ParentHistoryViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Chore History";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("History", "Parent", FormMethod.Get))
{
    <p>
        Search by Child: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <button type="submit" class="btn btn-primary" name="cmd" id="addBtn">&nbsp;Search</button>
    </p>
}


<table class="table table-hover table-condensed table-bordered table-striped">
    <tr class="warning">
        <th>
            @Html.ActionLink("Date Chore Entered", "History", new { sortOrder = ViewBag.DateEnteredSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Child", "History", new { sortOrder = ViewBag.ChildSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Chore", "History", new { sortOrder = ViewBag.ChoreSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date Chore Completed", "History", new { sortOrder = ViewBag.ChoreSubSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date Chore Approved", "History", new { sortOrder = ViewBag.ChoreApproveSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Reward", "History", new { sortOrder = ViewBag.RewardSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date Reward Submitted", "History", new { sortOrder = ViewBag.RewardSubmitParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date Reward Approved", "History", new { sortOrder = ViewBag.RewardApproveSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Parent Who Submitted", "History", new { sortOrder = ViewBag.ParentSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.DateSubmitted)
            </td>
            <td>
                @Html.DisplayFor(m => item.ChildName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Chore)
            </td>
            <td>
                @Html.DisplayFor(m => item.ChoreSubmitted)
            </td>
            <td>
                @Html.DisplayFor(m => item.ChoreComplete)
            </td>
            <td>
                @Html.DisplayFor(m => item.Reward)
            </td>
            <td>
                @Html.DisplayFor(m => item.RewardSubmitted)
            </td>
            <td>
                @Html.DisplayFor(m => item.RewardComplete)
            </td>
            <td>
                @Html.DisplayFor(m => item.ParentName)
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("History",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
}