﻿@model ToDoWebApp.Models.ParentChoreTableViewModel

@{
    ViewBag.Title = "Take a look at what's on your children's ToDo list";
}

<div id="main-div">
    <br />
    <br />
    <h1>@ViewBag.Title!</h1>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="container">
        <a href="@Url.Action("Add", "Parent")" class="btn btn-primary loadModal" data-id="add"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Chore</a>
        <div id="table-content">
            @Html.Partial("_ChoreTableViewPartial")
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-id="add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add New Chore</h4>
                </div>
                <div class="divForDisplay" data-id="add"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-id="edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Chore</h4>
                </div>
                <div class="divForDisplay" data-id="edit"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryVal")
    <script src="~/Scripts/ChoreIndex.js"></script>
    <script src="~/Scripts/ModalControl.js"></script>
    @Styles.Render("~/fontAwesome/css")
    @Styles.Render("~/Content/css")
}