﻿@model PagedList.IPagedList<ToDoWebApp.Models.ChildHistoryViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Chore History";
}

<h2>@ViewBag.Title</h2>

<table class="table table-hover table-condensed table-bordered table-striped">
    <tr class="warning">
        <th>
            @Html.ActionLink("Chore", "History", new { sortOrder = ViewBag.ChoreSortParam })
        </th>
        <th>
            @Html.ActionLink("Date Chore Completed", "History", new { sortOrder = ViewBag.ChoreSubSortParam })
        </th>
        <th>
            @Html.ActionLink("Date Chore Approved", "History", new { sortOrder = ViewBag.ChoreApproveSortParam })
        </th>
        <th>
            @Html.ActionLink("Reward", "History", new { sortOrder = ViewBag.RewardSortParam })
        </th>
        <th>
            @Html.ActionLink("Date Reward Submitted", "History", new { sortOrder = ViewBag.RewardSubmitParam })
        </th>
        <th>
            @Html.ActionLink("Date Reward Approved", "History", new { sortOrder = ViewBag.RewardApproveSortParam })
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Chore)
            </td>
            <td>
                @Html.DisplayFor(m => item.ChoreSubmitted)
            </td>
            <td>
                @Html.DisplayFor(m => item.ChoreComplete)
            </td>
            <td>
                @Html.DisplayFor(m => item.Reward)
            </td>
            <td>
                @Html.DisplayFor(m => item.RewardSubmitted)
            </td>
            <td>
                @Html.DisplayFor(m => item.RewardComplete)
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("History",
    new { page, sortOrder = ViewBag.CurrentSort }))

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
}