﻿@model ToDoWebApp.Models.ChildChoreTableViewModel

@{
    ViewBag.Title = "Take a look at what's on your ToDo list";
}

<div id="main-div">
    <br />
    <br />
    <h1>@ViewBag.Title!</h1>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="container">
        <div id="table-content">
            @Html.Partial("_ChoreTableViewPartial")
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryAjax")
    @Styles.Render("~/fontAwesome/css")
    <script src="~/Scripts/ChoreIndex.js"></script>
    @Styles.Render("~/Content/css")
}